/* Global body styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    margin: 0;
    background: url('https://m.media-amazon.com/images/I/81vtnXCyb8L._AC_UF1000,1000_QL80_.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

/* Center the game content */
.container {
    text-align: center;
}

/* Title styles */
.title {
    font-size: 48px;
    font-weight: bold;
    color: #701fbc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Button styles */
.button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: #ff9900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button hover effect */
.button:hover {
    background-color: #ff6600;
}
.world-box {
    cursor: pointer; /* Change cursor to pointer */
    font-size: 25px;
    font-weight: bold;
    color: #decb21;
    /* Add any additional styles you want for the world boxes */
}
/* Levels container styles */
.levels-container {
    margin-top: 20px;
    display: all; /* Hide levels by default */
}

/* Individual level styles */
.levels {
    margin: 10px 0;
}

.level {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #d4dd22;
    transition: background-color 0.3s;
}

.level:hover {
    background-color: #ffffff;
}